<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V V R signUp</title>
    <link rel="stylesheet" href="../signupStyle.css">
</head>
<body class="mi">
    <div class="heading"><h1>Virtual Vittles Restaurant</h1></div>
    <div class="container">
       <div class="mainContant">
            <div class="LogIn">LogIn</div>
            <form action="/VvR/login"method="post">
                <table>
                    
                    <tr><input for="email" type="email" id="email" name="email" placeholder="email" required></tr>

                    <br>
                    <br>

                    <tr><input for="password" type="password" id="password" name="password" placeholder="Password" required></tr>
                    <br>

                    <tr ><button class="button">LOGIN</button> </tr>


                </table>
                <form action="/VvR/signup" method="get">
                    <p  class="para"
                    style="color: aliceblue;">Don't have an account?<button style="height: 35px; border-radius: 8px; margin-top: 20px;" class="signup">SIGNUP</button></p>
                          </div>
                      </form>
                      </div>

</body>
</html>