<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V V R signUp</title>
    <link rel="stylesheet" href="../signupStyle.css">
</head>
<body class="mi">
    <div class="heading"><h1>Virtual Vittles Restaurant</h1></div>
    <div class="container">
       <div class="mainContant">
            <div class="LogIn">SignUp</div>
            <form action="/VvR/signup"method="post">
                <table>
                    <tr><input   for="name"  type="text" id="username" name="username" placeholder="Username" required></tr>

                    <br>

                    <tr><input for="username" type="email" id="email" name="email" placeholder="email" required></td>

                    <br>

                    <tr><input for="password" type="password" id="password" name="password" placeholder="Password" required></tr>
                    <br>

                    <tr ><button class="button">SIGNUP</button> </tr>


                </table>
            </form>
            <form action="/VvR/login" method="get">
  <p  class="para"
  style="color: aliceblue;">Already have an account?<button style="height: 35px; border-radius: 8px; margin-top: 20px;" class="signup">LOGIN</button></p>
        </div>
    </form>
    </div>

</body>
</html>